# Some important Imports

In [25]:
import pandas as pd # pandas for dataframes
import numpy as np # numpy for math
from keras.preprocessing.text import Tokenizer # Tokenizer
from keras.preprocessing.sequence import pad_sequences # pad_sequence
from keras.models import load_model # load_model

# Importing clean test data from csv

In [26]:
print(" \nImporting Cleaned Test data(test_clean.csv) from data folder\n ")

df_test=pd.read_csv('./data/test_clean.csv')
# df_test= pd.read_csv('./test/test_validation_subset5.csv')
#convert abstract column to str
df_test['abstract'] = df_test['abstract'].astype(str)
print('First five Rows of Cleaned test data',df_data.head())

Importing Cleaned Test data(test_clean.csv) from data folder

First five Rows of Cleaned test data      id                                           abstract
0   494  studi rotat spectrum nacn  recent extend frequ...
1   567  present sub arcminut resolut imag sunyaev zel ...
2  1523  stellar companion black hole orbit eccentr orb...
3  1604  hybrid ricci scalar    eta   form robertson wa...
4  2907  investig quantum primordi cosmolog fluctuat de...

## Import Model

In [27]:
new_model = load_model('./Saved_model/model.h5')

# Prepare solution csv

In [28]:
column_names = ['id','category_num']
df_solution = pd.DataFrame(columns = column_names)

## copy 'id' column of test.csv to "Id" column of df_solution
df_solution.id= df_test.id   # or use below method
df_solution.head()

     id category_num
0   494          NaN
1   567          NaN
2  1523          NaN
3  1604          NaN
4  2907          NaN

In [32]:
print("Prediction start .......... ..... .... ... ")

MAX_NB_WORDS =50000
MAX_SEQUENCE_LENGTH = 200
tokenizer = Tokenizer(num_words=MAX_NB_WORDS,oov_token = '<UNK>') 
tokenizer.fit_on_texts(df_test.abstract) # fit the tokenizer on the abstracts
tok = tokenizer.texts_to_sequences(df_test.abstract)
pad = pad_sequences(tok, maxlen=MAX_SEQUENCE_LENGTH)
solution_series=new_model.predict(pad)
print("Prediction Complete")

Prediction start .......... ..... .... ...
Prediction Complete

In [36]:
Solution_np=np.argmax(solution_series,axis=1)
df_solution['category_num'] =Solution_np
df_solution.to_csv('solution.csv',index=False)
print('Top 10 prediction \n',df_solution.head(20))

Top 10 prediction        id  category_num
0     494             2
1     567             4
2    1523             5
3    1604             4
4    2907             3
5    3970             3
6    4346             4
7    4854             4
8    5232             4
9    5530             4
10   5544             4
11   6783             4
12   7181             4
13   7453             4
14   7857             3
15   8959             4
16   9241             5
17   9697             3
18  10230             3
19  10461             2